* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
}
.logo {
  width: 120px;
}

/* Home Page */
.homePage {
  width: 100%;
  height: calc(100vh - 150px);
}
.homeTitle {
  margin-bottom: 0;
}

/* SignUp and Login Page CSS */
.signup,
.signin {
  width: 100%;
  height: calc(100vh - 90px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form,
.signin-form {
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.3);
}
.form-title,
.contactForm-title {
  font-weight: 600;
  font-size: 30px;
  color: #000;
  margin-bottom: 20px;
}
.form-group .zmdi {
  position: relative;
  left: 12px;
}
.myInput {
  font-size: 15px;
  padding: 5px 22px;
  outline: none;
  border: none;
  border-bottom: 1px solid #555555;
}
.form-submit,
.contactSubmit {
  font-size: 14px;
  margin-top: 8px;
  border-radius: 99999px;
  outline: none;
  border: none;
  padding: 8px 25px;
  color: #fff;
  background: #000;
}
.signup-link,
.signin-link {
  margin-top: 0;
  color: #303030;
  font-size: 14px;
}

/* Contact Page CSS */
.contact-padding {
  padding: 20px 10vw;
}
.contact-card,
.contactForm-container,
.profileCard {
  padding: 15px 18px;
  border-radius: 12px;
  box-shadow: 0px 10px 35px -10px rgba(0, 0, 0, 0.3);
}
.contact-content {
  padding-left: 18px;
}
.contactForm-container {
  padding: 18px 30px;
}
.contact-title {
  color: #000;
  font-weight: 600;
  font-size: 14px;
}
.contact-text {
  color: #555555;
  font-size: 12px;
  /* word-wrap: break-word; */
}
.contactForm-title {
  color: #303030;
  margin-bottom: 10px;
}
.contactInput:first-child {
  margin-right: 25px;
}
.contactInput,
textarea {
  margin-bottom: 15px;
  /* border: 1px solid #a5a5a5; */
  border: 1px solid #808080;
  padding: 5px 15px;
  outline: none;
}
textarea {
  width: 100%;
}
.contactSubmit {
  /* background: #149edf; */
  border-radius: 0;
  margin: 15px 0;
}

/* About Us Page */
.profileCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profilePic {
  height: 250px;
}
